@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;1,500&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-color: #f6f9ff;
    font-family: "Poppins", sans-serif;
  }

  /* Header section*/

  .header {
    box-shadow: 0px 3px 8px 0px rgba(148,148, 148, 0.3);
    height: 80px;
    /* 1 rem=16px */
  }

  /*.container{
    max-width: 1140px;
    margin: 0 auto;
  }*/

  .header-contents{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content:space-between;
  }
  .logo{
    height: 60px;
    width: auto;
  }
  .logo:hover{
    transform: scale(1.2);
  }
  .navbar{
    display: flex;
  }
  .nav-item{
    color: #707070;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;
  }
  .nav-item:hover{
    color: green;
    transform: scale(1.2);
  }
  .nav-item:not(:last-child){
    margin-right: 5rem;  
  }
  ul,
  li{
  list-style: none;
  margin-bottom: 0;
  }
  .active{
    color: green;
    font-weight: bold;
  }

  /* Banner Section */

  .banner {
    min-height: calc(100vh - 80px);
  }
  .banner-flex{
    display: flex;
  }
  .banner-content{
    min-height: calc(100vh - 80px);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .banner-image{
    min-height: calc(100vh - 80px);
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .banner-img{
    height: 60vh;
    width: auto;
  }
  .big-title{
    color: #222222;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 30px;
    line-height: 42px;
    
  }
  .small-title{
    color: #707070;
    font-size: 0.875rem;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 20px;
  }
  .primary-button{
    background-color: green;
    padding: 10px 30px;
    border: none;
    border-radius: 32px;
    color: #fff;
  }

  /* Services */

  .services{
    display: flex;
    max-height: calc(100vh);
  }
  .services-flex{
    display: flex;
  }
  .services-content{
    max-height: calc(100vh);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .services-title{
    color:green;
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
    line-height: 10px;
  }
  .services-title-small{
    color: #707070;
    font-size: 1rem;
    font-weight: 300;
    margin-bottom: 30px;
    line-height: 10px;
  }


/* Services Section */
  .services {
    background-color:#f6f9ff;
    min-height: 100vh;
    padding-top: 50px;
    padding-bottom: 50px;
  }
/* Footer Section */
  .footer {
    background-color:#f6f9ff;
    height: 20vh;
  }
  .title-section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .main-title{
    color: green;
    font-weight: 700;
    font-size: 32px;
  }
  .sub-title{
    color: #707070;
    font-weight: 300;
    font-size: 14px;
    text-align: center;
    width: 40%;
  }
  .services-wrapper{
    margin-top: 30px;
  }
  .services-card:hover{
    transform: scale(1.1);
  }
  .services-card{
    background-color: #fff;
    width: auto;
    height: 240px;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0px 3px 8px 0px rgba(148,148, 148, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
  .icon-wrapper{
    background-color: #c0f1c0;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  .icon-wrapper i{
    color: green;
  }
  .services-card h5{
    color: #333;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .services-card p{
    color: #707070;
    font-size: 14px;
    text-align: center;
  }
  

  /*ContactUs Section */
  .contact{
    background-color: rgb(145, 145, 229);
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;

  }
  .contact-form{
    width: 50%; /*means half of element container */
    background-color: #f6f9ff;
    margin: 0 auto; /* O for Top-bottom and auto for left right */
    margin-top: 30px;
    border-radius: 16px;
    padding: 30px;
  }
  .contact-form h3{
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  input, 
  textarea{
    background-color: #fff;
    height: 40px;
    border: none;
    box-shadow: 0px 3px 8px 0px rgba(148,148, 148, 0.3);
    width: 100%;
    display: block;
    margin-bottom: 10px;
    border-radius: 4px;
    padding-left: 10px;
    padding-left: 10px;
  }
  textarea{
    height: 180px;
  }
  input[type="submit"]{
    background-color: green;
    color: #fff;
    border-radius: 32px;
    width: 30%;
    margin: 0 auto;
    margin-top: 30px;
  }
::placeholder{
  text-align: left;
  padding-top: 10px;
}
  .plane-icon{
    position: absolute;
    top: 70%;
    right: 15%;;
  }
  .plane-icon i{
    font-size: 180px;  
  }

  /* Foother Section */
  .footer-top{
    background-color: rgb(53, 119, 53);
    padding-top: 30px;
    padding-bottom: 30px;
  }
  .footer-title{
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    font-weight: 600;
  }
  .footer-subtitle{
    color: #f6f9ff;
    font-size: 12px; 
    font-weight: 300;
  }
  .social-icons{
    display: flex;
    margin-top: 20px;
  }
  .social-icons li:not(:last-child) {
    margin-right: 15px;
  }
  .social-icons li i{
    color: #fff;
    font-size: 32px;
  }
  .useful-links li {
    color: #fff;
    font-weight: 300;
    font-size: 14px;
  }
  .useful-links li:not(:last-child){
    margin-bottom: 10px;
  }
  .footer-contact li {
    display: flex;
    color: #fff;
  }
  .footer-contact li span {
    margin-right: 10px;
  }
  .footer-contact li p{
    font-size: 14px;
    font-weight: 300;
  }
  .footer-bottom{
    height: 40px;
    background-color: rgb(12, 63, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 12px;
  }
  .footer-bottom p{
    margin-bottom: 0; /* sets margin area on the bottom of an element */
  }